<div class="row">
    <div class="col-md-10">
        <div class="page-title">
            <h4>Anúncios</h4>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-block">
                <div class="table-overflow">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col" class="text-center">Descrição</th>
                                <th scope="col" class="text-center">Preço</th>
                                <th scope="col" class="text-center">Ano</th>
                                <th scope="col" class="text-center">Editar Veículo</th>
                                <th scope="col" class="text-center">Excluir Veículo</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="tr-pointer" *ngFor="let veiculo of listaVeiculos">
                                <!-- (click)="editarUsuario(usuario.email)" -->
                                <td scope="row" class="text-center">{{ veiculo.descricao }}</td>
                                <td scope="row" class="text-center">{{ veiculo.preco }}</td>
                                <td scope="row" class="text-center">{{ veiculo.ano }}</td>
                                <td scope="row" class="text-center">
                                    <button class="btn btn-outline-primary" (click)="editarAnuncio(veiculo)">Editar
                                        Anúncio</button>
                                </td>
                                <td scope="row" class="text-center">
                                    <button class="btn btn-outline-danger" (click)="excluirVeiculo(veiculo)">Excluir
                                        Veículo</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <button class="btn btn-dark" (click)="editarAnuncio()"> rota editar/excluir anuncio</button> -->