<div class="row">
    <div class="col">
        <div class="card mb-3 mt-4 card-detalhes-veiculo">
                <div class="row no-gutters">
                <div class="col-md-6">
                    <div id="carouselExampleIndicators" style="max-width: 700px;" class="carousel slide rounded" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carouselExampleIndicators" *ngFor = "let imagem of imagens; let i = index;" data-slide-to="index" class="active"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="carousel-item" *ngFor="let imagem of imagens">
                                <img src="data:image/png;base64,{{imagem}}" style="max-height: 500px;" class="d-block w-100" alt="...">
                            </div>
                        </div> 
                        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card-body corpo-detalhes-veiculo" style="min-height: 420px;">
                        <h5 class="card-title">{{veiculo.descricao}}</h5>
                        <p class="card-text">{{veiculo.marca.marca}}</p>
                        <p class="card-text">Ano {{veiculo.ano}}</p>
                        <p class="card-text">Quilometragem {{veiculo.kmRodado}}</p>
                        <p class="card-text">Preço R$ {{veiculo.preco}}</p>
                        <div class="card-opcionais">
                            <ul class="flex flex-wrap">
                                <li *ngFor = "let opcional of opcionais">{{opcional.nome}}</li>
                            </ul>
                        </div>


                    </div>
                    <div class="card-footer" style="min-height: 80px;">
                        <span class="text-card-telefone d-none">{{veiculo.idUsuario.telefone}}</span>
                        <i class="fa fa-phone icones-veiculo" (click)="verTelefone($event)"></i>
                    </div>
                </div>

                <img src="" class="imagem">
                </div>
        </div>
    </div>
</div>