<div class="row">
    <div class="col-md-4 mt-5 col-lg-3">
        <div class="card">
            <div class="card-header text-center">
                Pesquisar Veículos
            </div>
            <div class="card-body">
                <div class="form-group">
                    <div>
                        <label for="tipo-veiculo">Tipo Veiculo</label>
                        <select class="form-control" id="tipo-veiculo" (change)="getTipoVeiculo($event)">
                            <option value="">Selecione</option>
                            <option *ngFor="let tipo of listaTipoVeiculos" value="{{tipo.tipoNome}}">{{tipo.tipoNome}}
                            </option>
                        </select>
                    </div>
                    <div>
                        <label for="marca-veiculo">Marca Veiculo</label>
                        <select class="form-control" id="marca-veiculo" (change)="getMarcaVeiculo($event)">
                            <option value="">Selecione</option>
                            <option *ngFor="let marcaVeiculo of listaMarcaVeiculos">{{marcaVeiculo.marca}}</option>
                        </select>
                    </div>
                    <div>
                        <br />
                        <input class="form-control" type="text" placeholder="Pesquisa dinâmica"
                            [(ngModel)]="campoDinamico">
                    </div>
                </div>
                <button class="btn btn-primary mr-1" (click)="buscarVeiculosPorFiltro()">Buscar</button>
                <button class="btn btn-danger" (click)="limparFiltro()">Limpar</button>
            </div>
        </div>
    </div>
    <div class="col-md-8 col-lg-8 col-sm-12 mb-3 mt-5" >
        <div class="conteudoCentral border-box d-flex justify-content-start flex-wrap">
            <!-- <div class="card ml-3 mb-3 d-flex wrap card-car" *ngFor="let carro of listaVeiculos"
                style="width: 18rem;">
                <img src="../assets/cars/{{carro.id}}.jpg" class="card-img-top" style="min-height: 180px;" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{carro.descricao}}</h5>

                    <span class=""><i class="mr-2 fa fa-money-bill-wave"></i>{{carro.preco}} R$</span>
                </div>
            </div> -->

            <div class="card ml-3 mb-3 d-flex justify-content-around wrap card-car" style="width: 18rem;" *ngFor="let carro of listaVeiculos | 
            paginate: { itemsPerPage: quantidadePorPagina, 
            currentPage: paginaAtual, totalItems: quantidadeTotalElementos}">
                <img src="../assets/cars/{{carro.id}}.jpg" class="card-img-top" style="min-height: 180px;" alt="...">
                <div class="card-body" [routerLink]="['../../anuncio/detalhes-anuncio',carro.id]">
                    <h5 class="card-title">{{carro.descricao}}</h5>

                    <span class=""><i class="mr-2 fa fa-money-bill-wave color-green"></i>{{carro.preco}} R$</span>
                </div>
            </div>
               <!-- <button (click)="rotaDetalhesDoAnuncio()" class="btn btn-sm btn-danger"> CLICK DETALHES DO ANUNCIO</button>       -->
            <div class="flex-grow-1 flex-basis-100 d-flex flex-row justify-content-center mt-auto">
                <pagination-controls (pageChange)="mudarPagina($event)" previousLabel="Anterior" nextLabel="Proximo"
                    responsive="true">
                </pagination-controls>
                <label class="d-none">Itens por Página
                    <select [(ngModel)]="quantidadePorPagina" (click)="mudarPagina(paginaAtual)">
                        <option value="5">5</option>
                        <option value="10">10</option>
                        <option value="20">20</option>
                        <option value="50">50</option>
                    </select>
                </label>
            </div>
        </div>
    </div>  
</div>
