<div class="container">
    <div class="row pt-4">
        <div class="col-md-8">
            <div class="page-title">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-9">
            <form class="card" [formGroup]="formVeiculo" novalidate>
                <div class="card-body">
                    <div class="form-group row">
                        <label class="col-md-2 control-label pdd-top-10">Tipo de veiculo</label>
                        <div class="col-md-10">
                            <select class="form-control" formControlName="tipo" id="tipo-veiculo"
                                (change)="getTipoVeiculo($event)">
                                <option value="">Selecione</option>
                                <option *ngFor="let tipo of listaTipoVeiculos" value="{{tipo.tipoNome}}">
                                    {{tipo.tipoNome}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="email" class="col-md-2 control-label pdd-top-10">Marca</label>
                        <div class="col-md-10">
                            <select class="form-control" id="marca-veiculo" formControlName="marca"
                                (change)="getMarcaVeiculo($event)">
                                <option value="">Selecione</option>
                                <option *ngFor="let marcaVeiculo of listaMarcaVeiculos">{{marcaVeiculo.marca}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-2 control-label pdd-top-10">Descricao</label>
                        <div class="col-md-10">
                            <input class="form-control" name="descricao" formControlName="descricao" id="descricao"
                                 type="text" [(ngModel)]="veiculo.descricao">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-2 control-label pdd-top-10">Preço</label>
                        <div class="col-md-10">
                            <input class="form-control" formControlName="preco" name="preco" id="preco"
                                placeholder="100000" type="text" [(ngModel)]="veiculo.preco">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-2 control-label pdd-top-10">Ano</label>
                        <div class="col-md-10">
                            <input class="form-control" formControlName="ano" name="ano" id="ano" placeholder="1999"
                                type="text" [(ngModel)]="veiculo.ano">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="senha" class="col-md-2 control-label pdd-top-10">KM</label>
                        <div class="col-md-10">
                            <input class="form-control" formControlName="km" name="quilometragem" id="quilometragem"
                                placeholder="10000" type="text" [(ngModel)]="veiculo.kmRodado">
                        </div>
                    </div>
                </div>
                <div class="card-footer border top">
                    <ul class="list-unstyled list-inline text-right pdd-vertical-5">
                        <li class="list-inline-item">
                            <!-- <button class="btn btn-block btn-danger" (click)="cancelar()">Cancelar</button> -->
                            <button class="btn btn-block btn-primary" (click)="editarVeiculo()"
                                type="submit">Salvar</button>
                        </li>
                    </ul>
                </div>
            </form>
        </div>
    </div>
</div>