<div class="row">
    <div class="col-md-10">
        <div class="page-title">
            <h4>Usuários</h4>
        </div>
    </div>
    <div class="col-md-2">
        <button class="btn btn-info">Novo</button>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-block">
                <div class="table-overflow">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Nome</th>
                                <th>E-mail</th>
                                <th>Acesso</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="tr-pointer" *ngFor="let usuario of listaUsuarios">
                                <!-- (click)="editarUsuario(usuario.email)" -->
                                <th></th>
                                <td>{{ usuario.username }}</td>
                                <td>{{ usuario.email }}</td>
                                <td>{{ usuario.perfil }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>