/* You can add global styles to this file, and also import other style files */
/* @import '~ngx-toastr/toastr'; */

#toast-container > div {
    opacity:1;
}

body{
    background-color: #f8f9fa!important;
}
.ngx-pagination{
    margin-left:0 !important;
    margin-top:20px;
    padding-left:0 !important;
}

.cursor-pointer {
    cursor: pointer;
}
.color-green{
    color:green;
}
.cadastro-centro{
   max-width: 1200px;
   position:absolute;
   left:50%;
   transform: translate(-50%,0%);
}

.icones-veiculo{
    margin-left:10px;
    float:right;
    font-size:3em;
    margin-top:auto;
    cursor:pointer;
}
.icones-veiculo.fa-phone{
    position: absolute;
    bottom:0;
    right:40px;
    bottom:20px;
}
.icones-veiculo.fa-star-o{
    position: absolute;
    bottom:0;
    right:35px;
    bottom:20px;
}
.icones-veiculo:hover{
    font-size:4em;
}
.icones-veiculo:active{
    font-size:2.5em;
}
.corpo-detalhes-veiculo{
    height: 80%;
}
.text-card-telefone{
    font-size:2em;
}